* {
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}
.nav-title{
    position: absolute;
    width: 525px;
    height: 228px;
    top: 216px;
    left: 845px;
    font-weight: 700;
    font-size: 65px;
    line-height: 76px;
    text-align: right;
    color: #151414;
}
.banner-description{
    position: absolute;
    width: 494px;
    height: 78px;
    left: 876px;
    top: 468px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: right;
    color: #444343;
    margin-bottom: 30px;
}
.btn-primary{
    position: absolute;
    width: 160px;
    height: 64px;
    left: 1210px;
    top: 578px;
    color: #FFFFFF;
    background: #FD6E0A;
    border: 0;
    padding: 18px 35px;
    border-radius: 5px;
}
.person{
    position: absolute;
    width: 569px;
    height: 723.3px;
    left: 206px;
    top: 939px;
}
.plan{
    position: absolute;
    width: 1141px;
    height: 299.96px;
    left: 230px;
    top: 1792.3px
}
.plan-title{
    width: 179px;
    height: 47px;
    margin-left: 50%;
    margin-bottom: 56px;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    color: #151414;
}
.skill{
    position: absolute;
    width: 493.96px;
    height: 197.26px;
    margin-left: 330px;
    margin-left: 6px;
}
.watch{
    position: absolute;
    width: 1140px;
    height: 300px;
    left: 230px;
    top: 2222.26px;
    border-radius: 8px;
}
.footer{
    position: absolute;
    width: 1600px;
    height: 577px;
    top: 2652.26px;
    background: #151414;
}
.section{
    width: 485px;
    height: 317px;
    padding: 130px 230px;
    color: #FFFFFF;
}
.description{
    margin-top: 16px;
    margin-bottom: 24px;
    width: 485px;
    height: 78px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
}
.phone{
    margin-top: 16px;
    margin-bottom: 32px;
}
.find-us-on{
    width: 175px;
    height: 46px;
}
.subscribe{
    position: absolute;
    width: 325px;
    height: 204px;
    left: 1046px;
    top: 278px;
    color: #FFFFFF;
}
.input{
    margin-top: 31px;
    margin-bottom: 16px;
}
.btn-secondary{
    width: 170.11px;
    height: 64px;
    left: 1046px;
    top: 270px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;

    background: #FFFFFF;
    color: #FD6E0A;
    border: 0;
    border-radius: 5px;
}